dev_v1/src/etc/resources/com/mailer/drools/drools.dtd

<!--drools.dtd-->
<!ELEMENT DROOLS (RULE+)>
<!ELEMENT RULE (METHODNAME,RULENAME,EVENETNAME,ARGUMENTLIST)>
<!ELEMENT METHODNAME (#PCDATA)>
<!ELEMENT RULENAME (#PCDATA)>
<!ELEMENT EVENETNAME (#PCDATA)>
<!ELEMENT ARGUMENTLIST (ARGUMENT+)>
<!ELEMENT ARGUMENT (EMPTY)>
<!ATTLIST METHODNAME RETVAL CDATA "0">
<!ATTLIST METHODNAME RESULTSET CDATA "0">
<!ATTLIST ARGUMENT SOURCE CDATA "0">
<!ATTLIST ARGUMENT STATUS CDATA "0">